%flex1 {
    display: flex;
    flex-direction: row;
}

@mixin a-s($width1, $height1, $pad1) {
    color: rgb(245, 245, 245);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    width: $width1;
    height: $height1;
    padding-right: $pad1;
    text-decoration: none;
}

.footer-line {
    @extend %flex1;
    padding-top: 30px;
    padding-left: 90px;
    padding-bottom: 30px;
    background: rgb(156, 36, 130);

    .logo-pics {
        @extend %flex1;
        padding-right: 158px;

        .logo-lilia {
            width: 90px;
            height: 49.99px;
            background: none;
            border: none;
            margin-right: 10px;
        }

        .logo-name {
            width: 110px;
            height: 50.99px;
            background: none;
            border: none;
        }
    }

    .footer-buttons {
        @extend %flex1;
        padding-right: 159px;

        .button-f1 {
            @include a-s(70px, 26px, 63px);
        }

        .button-f2 {
            @include a-s(72.99px, 25.52px, 64px);
        }

        .button-f3 {
            @include a-s(127.98px, 25.52px, 64px);
        }

        .button-f4 {
            @include a-s(67.99px, 25.52px, 64px);
        }

        .button-f5 {
            @include a-s(81.99px, 25.52px, none);
        }
    }

    .text1-footer {
        color: rgb(245, 245, 245);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
    }

    .text2-footer {
        color: rgb(245, 245, 245);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
    }

    .media {
        @extend %flex1;
        margin-top: 10px;

        .medias {
            width: 20px;
            height: 20px;
            background: none;
            border: none;
            margin-right: 20px;
            text-decoration: none;
        }
    }
}